__pycache__/*
test.py
trained_model.pth
dataset.txt
checkpoints/*

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

venv/
env/
.env/
.venv/
ENV/

.idea/
.vscode/
*.swp
*.swo

.pytest_cache/
.coverage
htmlcov/

.ipynb_checkpoints

.Python
pip-log.txt
pip-delete-this-directory.txt
*.pyc
*.pyo
*.pyd
.Python
*.so
.python-version
.env.fish
fish/
__pycache__/
*.py[cod]

fish_history
fishd.*
.config/fish/
.local/share/fish/

